@use "../../_globals/mixins.scss" as m;
//@use "../styles/breakpoints" as bp;


.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

}

.eventsRectangle {
  position: relative;
  width: 100%;
  height: 300px;
  // margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-bottom: 100px;


  @include m.phone {

    width: 402px;
    width: 100%;
    height: 180px;
    //top: 160px;
    //angle: 0 deg;
    opacity: 1;
  }
}

.yellowBackground {
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: #FFF1B9;
  top: 0;
  left: 0;
  z-index: 1;

  @include m.phone {
    width: 100%;
    height: 180px;
  }

}

.title {
  position: relative;
  z-index: 2;
  font-family: Fraunces, serif;
  font-weight: 700;
  //  font-style: Bold;
  font-size: 56px;
  // leading-trim: NONE;
  line-height: 72px;
  letter-spacing: 0.75%;
  text-align: center;

  @include m.phone {
    color: var(--Black, #212529);

    /* Mobile H1 */
    font-family: Fraunces;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.24px;
  }
}

// done: center calender div within the red div done
// give padding to the red box
// bottom two bboxes should be same size as calender red box
// see if you can redecorate google calender to figma design
// when you click on the calender, should it pop up an event? (message brent)
// rename branch to just events bc we have events-layout and events
.calendarSection {
  position: relative;
  width: 100%;
  height: auto;

  padding: 80px 100px 100px 100px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  //min-height: 100px;
  //max-height: 100%;
  //border: solid black;

  @include m.phone {
    width: 100%;
    height: 323px;
    left: 0;
    opacity: 1;
    margin: 0 auto;
    padding: 5%;

  }
}

.calendarBackground {
  padding: 32px 36px 32px 36px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1240 / 1080;
  background-color: #b24a4f;
  border-radius: 20px;
  z-index: 1;

  @include m.phone {
    width: 83%;
    //height: 90%;
    aspect-ratio: 1240 / 1080;
    background-color: #b24a4f;
    border-radius: 20px;
    z-index: 1;
    padding: 5%;
  }
}

.calendarSection iframe {
  position: center;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
  z-index: 2;
  margin: 0 auto;
}

.upcomingEvents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  //position: relative;

  max-width: 504px;
  aspect-ratio: 5 / 8;
  opacity: 1;
  border-radius: 20px;
  border-width: 5px;
  border: 5px solid hsla(0, 0%, 17%, 1);
  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  .eventScroll {
    position: center;
    width: 100%;
    flex: 1; // take remaining height
    overflow-y: auto; // vertical scroll when needed
    padding: 10px; // optional padding
    box-sizing: border-box;
  }

  @include m.phone {
    //width: 383px;
    width: 125%;
    height: auto;
    // top: 1738px;
    // left: 100px;
    //border-radius: 20px;
    //border-width: 5px;
    angle: 0 deg;
    opacity: 1;
    //width: 95%;

  }
}

.eventHeader {
  padding-top: 7%;
  padding-bottom: 5%;
  text-align: center;
  color: hsla(356, 76%, 43%, 1);
  //font-size: clamp(1.5rem, 2vw, 2rem);
}

.eventHeader h2 {
  font-size: 48px;
  margin: 0; // optional
}

.smallRectangle {
  //position: relative;
  /* proportionally sized relative to upcomingEvents */
  // width: 90%;
  width: 90%;
  //width: 400px;
  max-width: 400px;
  height: 48px;
  //min-height: 48px;
  opacity: 1;
  background: hsla(0, 0%, 85%, 1);
  border-radius: 20px;
  display: block;
  // //margin-top: 4rem auto;
  // margin-left: 52px;
  // margin-right: 52px;
  // margin-bottom: 16px;

  @include m.phone {
    width: 90%;
    //margin-top: 30px;
  }
}

.eventInfo h3 {
  //border: 1px solid black;
  width: 90%;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  //leading-trim: NONE;
  line-height: 30px;
  letter-spacing: 0px;
  color: hsla(0, 0%, 0%, 1);
  // padding-left: 50px;
  // padding-right: 50px;
  max-width: 400px;
  height: auto;
  top: 688px;
  margin-bottom: 48px;
  left: 52px;
  //angle: 0 deg;
  opacity: 1;
  //margin-left: 52px;
  //margin-right: 52px;
  //margin-bottom: 52px;


  //convert this to a mpap to comprise of all the items we want (rectangle(future button) and text))
  // implement map
  @include m.phone {
    width: 80%;
    padding-left: 5%;
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 6%;

  //border: 5px solid rgb(133, 125, 147);
  @include m.phone {
    padding-bottom: 10%;
  }
}

.mainImage {
  width: 55%; // scales relative to .eventsPlusImage
  max-width: 610px;
  min-width: 61px;

  aspect-ratio: 3/4; // keeps proportions
  height: auto; // important!

  border: 5px solid hsla(0, 0%, 17%, 1);
  border-radius: 20px;

  @include m.phone {
    width: 370px;
    height: 562px;
    //top: 100px;
    //aspect-ratio: 1.35737704918;
    angle: 0 deg;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    //width: 95%;
    position: relative;
    width: 125%;
    height: auto;
  }
}

.eventsPlusImage {
  display: flex;
  padding: 0px 100px 80px 100px;
  width: 100%; //var(--calendar-width);
  height: 100%;
  gap: 8.75%;
  // gap: 126px;
  justify-content: center;
  align-items: center;
  //border: solid black;

  @include m.phone {
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
}