// This is just example code, will need to be reworked

@use "../../_globals/mixins.scss" as breakpoint; 

.adBar {
  display: flex;
  align-items: center;
  background: var(--cloud);
  width: 100%;
  height: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;

  @include breakpoint.phone {
    width: 100%;
    height: 2rem;
    top: 0;
  }
}

.scroller {
  display: flex;
  align-items: center;
  gap: 7rem;
  padding-right: 7rem;
  animation: scroll 45s linear infinite;
}

.text {
  font-family: var(--yv-font-body);
  color: var(--black);
  font-weight: 400;
  font-size: 0.75rem;
  white-space: nowrap;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%)
  }
}
