@font-face {
  font-family: "Botch";
  src: url("/fonts/botch.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  // Neutrals
  --black: #212529;
  --charcoal: #2b2b2b;
  --gray: #6f6f6f;
  --canvas: #cfcac2;
  --beige: #e8e1d6;
  --eggshell: #faf7f2;
  --white: #fafafa;

  // Primary
  --brick: #8f1a22;
  --yv-red: #c21b26;
  --clay: #b24a4f;
  --lagoon: #2989a2;
  --coast: #7fc8dd;
  --yv-blue: #a5e5f6;
  --cloud: #daf7ff;
  --yv-yellow: #fff1b9;
  --cream: #fff8dc;

  // Fonts
  --font-body: var(--yv-font-body);
  --font-display: var(--yv-font-display);
  --font-logo: "Botch";
}

html,
body {
  font-family: var(--font-body);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-display);
}

h1 {
  font-size: 2.75rem; // 44px
  font-weight: 600;
}

h2 {
  font-size: 2.5rem; //40px
}

h3 {
  font-size: 2.25rem; //36px
}

h4 {
  font-size: 1.5rem; //24px
}

p {
  font-size: 1.125rem; //18px
}

a {
  text-decoration: none;
}

button {
  border-radius: 10px;
}
