// This is just example code, will need to be reworked

@use "../../_globals/mixins.scss";

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.topBar {
  height: 18rem;
  font-size: 600%;
  background-color: rgb(236, 238, 142);
  width: 100%;
  display: grid;
  place-items: center;
  color: var(--black);
}

.mainSection {
  flex: 1;
  display: flex;
  width: 100%;
}

.leftSection {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3rem;
}

.filter {
  display: flex;
  background-color: rgb(236, 238, 142);
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 3rem;
}

.filterTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.sizeOptions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 3rem;
}

.clothesOptions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 3rem;
}

.filterOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3rem;
}

.rightSection {
  flex: 2;
  background-color: #ffffff;
}

.merchandise {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-content: flex-start;
  align-items: flex-start;
}

.merchandiseTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.carouselItem {
  display: flex;
  justify-content: center;
}