// This is just example code, will need to be reworked

@use "../../_globals/mixins.scss";

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.topBar {
  height: 18rem;
  font-size: 600%;
  background-color: #e1e44f;
  width: 100%;
  display: grid;
  place-items: center;
  color: var(--white);
}

.mainSection {
  flex: 1;
  display: flex;
  width: 100%;
}

.leftSection {
  flex: 1;
  background-color: #f0f0f0;
  display: grid;
  place-items: center;
}

.rightSection {
  flex: 2;
  background-color: #f0f0f0;
  margin-left: 1rem;
  display: grid;
  place-items: center;
}

.title {
  margin: 0;
}

.text {
  margin: 0;
  opacity: 0.8;
}

.logo {
  margin: 0;
  font-family: var(--font-logo);
}