@use "../../_globals/mixins.scss";

.page {
  display: grid;
  place-items: center;
  text-align: center;
}

.title {
  font-family: Fraunces;
  width: 100%;
  background-color: #fff1b9;
  padding: 7rem 0;
  display: flex;
  justify-content: center;

  @include mixins.lg-phone {
    padding: 3rem 0;
    font-size: 32px;
  }
}

.container {
  padding: 5rem 12.8125rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  @include mixins.tablet {
    padding: 3rem 4rem;
    gap: 3rem;
  }

  @include mixins.lg-phone {
    padding: 2rem 1rem;
    gap: 2rem;
  }
}

.faq {
  border: 4px solid #b24a4f;
  border-radius: 20px;
  background-color: white;
  width: 80%;
  overflow: hidden;

  @include mixins.tablet {
    width: 90%;
  }

  @include mixins.lg-phone {
    width: 100%;
  }
}

.content {
  display: flex;
  align-items: center;
  flex: 1;
}

.question {
  display: flex;
  width: 100%;
  background-color: #fafafa;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 0.813rem 0 1.125rem 0;

  @include mixins.lg-phone {
    padding: 0.75rem 0 0.5rem 0;
  }
}

.answer {
  display: flex;
  font-family: Inter;
  font-weight: 500;
  line-height: 30px;
  width: 100%;
  background-color: #f4d9da;
  text-align: left;
  font-size: 1.5rem;
  padding: 0.813rem 6.1875rem 1.125rem 0;

  @include mixins.lg-phone {
    font-weight: 400;
    padding: 0.8461rem 1.875rem 0.923rem 0;
  }
}

.letter {
  color: var(--Black, #212529);
  flex: 0 0 7.5rem;
  width: 120px;
  font-family: Inter;
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mixins.tablet {
    flex: 0 0 90px;
    width: 90px;
    font-size: 32px;
  }

  @include mixins.lg-phone {
    flex: 0 0 60px;
    width: 60px;
    font-size: 24px;
  }
}

.textQ {
  flex: 1;
  font-family: Fraunces;
  font-weight: 600;
  font-size: 1.5rem;
}

.textA {
  flex: 1;
  color: var(--Black, #212529);
  font-family: Inter;
  font-weight: 500;
  line-height: 30px;

  @include mixins.lg-phone {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
  }
}

.arrow {
  display: flex;
  align-items: center;
  padding-right: 20px;

  img {
    width: 20px;
    height: auto;
    transform-origin: center;
  }

  &.isOpen {
    transform: scaleY(-1);
  }
}
