@use "../../_globals/mixins.scss";

.page {
  display: grid;
  place-items: center;
  text-align: center;
  margin-bottom: 5rem;
}

.title {
  font-family: Newake;
  font-size: 56px;
  font-weight: 400;
  width: 100%;
  padding-top: 7rem;
  padding-bottom: 7rem;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: center;

  @include mixins.lg-phone {
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 32px;
  }
}

.container {
  padding: 0 5rem 0 5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  @include mixins.tablet {
    padding: 3rem 3rem;
    gap: 3rem;
  }

  @include mixins.lg-phone {
    padding: 2rem 1rem;
    gap: 2rem;
  }
}

.faq {
  border: 4px solid #b24a4f;
  border-radius: 20px;
  background-color: white;
  width: 80%;
  overflow: hidden;

  @include mixins.tablet {
    width: 90%;
  }

  @include mixins.lg-phone {
    width: 100%;
  }
}

.content {
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 1.6875rem;
  gap: 2.315rem;

  @include mixins.lg-phone{
    padding: 0 0 0 1rem ;
    gap: 0.4375rem;
  }
}

.question {
  display: flex;
  width: 100%;
  background-color: #fafafa;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;

  @include mixins.lg-phone {
    padding: 0.75rem 0 0.5rem 0;
  }
}

.answer {
  display: flex;
  font-family: Inter;
  font-weight: 500;
  line-height: 30px;
  width: 100%;
  background-color: #f4d9da;
  text-align: left;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.813rem 6.1875rem 1.125rem 0;

  @include mixins.lg-phone {
    font-weight: 400;
    padding: 0.8461rem 1.875rem 0.923rem 0;
  }
}

.letter {
  color: var(--Black, #212529);
  font-family: Newake;
  font-size: 40px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mixins.tablet {
    font-size: 32px;
  }

  @include mixins.lg-phone {
    font-size: 24px;
  }

.textQ {
  flex: 1;
  font-family: var(--yv-font-body);
  font-weight: 600;
  font-size: 1.5rem;
}

.textA {
  flex: 1;
  color: var(--Black, #212529);
  font-family: var(--yv-font-body);
  font-weight: 500;
  line-height: 30px;

  @include mixins.lg-phone {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
    padding-left: 0.24rem;
  }
}

.arrow {
  padding-right: 3.0625rem;

  img {
    width: 20px;
    height: auto;
    transform-origin: center;
  }

  &.isOpen {
    transform: scaleY(-1);
  }

  @include mixins.lg-phone{
    padding-right: 1.125;
  }
}

.shopsLink {
  border-bottom: 2px solid black;
}
